.header__menu-button {
  border: none;
  padding: 0;
  background-image: url("../../../images/header-menu.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-color: #000000;
  display: none;
  transition: opacity 0.2s linear 0.05s;
}

.header__menu-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {

  .header__menu-button {
    display: flex;
  }
}