.profile__text {
  margin-top: 22px;
  display: grid;
  grid-template-columns: max-content min-content;
  grid-template-rows: min-content min-content;
  column-gap: 18px;
  row-gap: 9px;
  grid-template-areas:
    "name edit-button"
    "job job";
}

@media screen and (max-width: 949px) {
  .profile__text {
    margin-top: 26px;
  }
}

@media screen and (max-width: 449px) {
  .profile__text {
    column-gap: 10px;
    row-gap: 5.5px;
  }
}