.elements__like-button {
  background-color: #fff;
  background-image: url(../../../images/like-disabled.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  transition: opacity 0.2s linear 0.05s;
}

.elements__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}